# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Docker
docker-compose.override.yml

# IDEs
.idea/
.vscode/
*.swp
*.swo
